@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(254, 197, 187);
  background: rgb(232, 232, 228);
}

body input,
body textarea {
  color: rgb(216, 226, 220);
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 5px 0;
}

code {
  color: rgb(254, 200, 154);
}

li {
  padding: 3px;
}